
*{margin:0;padding:0;}

body {background: url("images/backgroundMain.jpg") 0 0 repeat;}

body,td,th,div {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
}

img {border:none;}

a {
    text-decoration: none;
    outline: none;
}



/*********************/
/* CSS for structure */
/*********************/

#page {
    margin: 0 auto;
    width: 960px;
}

#header {
    min-height: 40px;
    padding: 10px 20px;
}

#header a.social {
    display: block;
    float: right;
    margin-right: 10px;
}

#menu ul li {
    background: url('images/menuBulletOff.png') no-repeat left bottom;
    cursor: pointer;
    float: left;
    height: 12px;
    list-style: none;
    margin: 0 0 0 15px;
    padding: 0 0 0 20px;
}

#menu ul li.activ {background: url('images/menuBulletOn.png') no-repeat left bottom;}

#menu ul li a {
    color: #fff;
    font-size: 14px;
}

#menu ul li a:hover {font-weight: bold;}

#menu ul li.activ a {
    font-weight: bold;
    font-style: italic;
}

.page-separator {
    background: url("images/separatorGrey.png") no-repeat;
    display: block;
    height: 2px;
    width: 960px;
}



/***********************/
/* CSS for home banner */
/***********************/

#banner-container {
    margin: 0 auto;
    width: 900px;
}

#banner-list .slick-prev, #banner-list .slick-next {
    cursor: pointer;
    display: block;
    height: 46px;
    position: absolute;
    top: 240px;
    width: 22px;
}

#banner-list .slick-prev {
    background: url("images/slideshow/slideshowPrevious.png") no-repeat;
    left: -30px;
}
#banner-list .slick-next {
    background: url("images/slideshow/slideshowNext.png") no-repeat;
    right: -30px;
}

#banner-list .slick-dots {
    margin-top: 15px;
    text-align: center;
    top: -35px;
    width: 100%;
}

#banner-list .slick-dots li button {
    background: url("images/bannerDotOff.png") no-repeat;
    border: none;
    color: transparent;
    cursor: pointer;
    height: 13px;
    margin: 0 5px;
    width: 13px;
}

#banner-list .slick-dots li {
    display: inline-block;
    list-style: none;
}

#banner-list .slick-dots li.slick-active button {background: url("images/bannerDotOn.png") no-repeat;}

#home-popup {
    display: none;
    margin: 30px;
}

#banner-list span.picture-button {
    bottom: 10px;
    right: 10px;
}



/*******************/
/* CSS for section */
/*******************/

#section-menu, #section-content {
    float: left;
    padding: 0 5px 0 15px;
}

#section-menu {width: 160px;}
#section-content {width: 760px;}

li.slideshow-item {
    background: url("images/slideshow/slideshowSelectionOff.png") no-repeat;
    color: #888;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    list-style: none;
    margin: 5px;
    padding: 3px 0 3px 30px;
}

li.slideshow-item.activ {
    background: url("images/slideshow/slideshowSelectionOn.png") no-repeat;
    color: #fff;
    font-style: italic;
}

#section-popup {
    display: none;
    margin: 30px;
}



/*********************/
/* CSS for slideshow */
/*********************/

#slideshow-container {
    padding: 5px;
    width: 760px;
}

#slideshow-container ul {margin: 0; padding: 0;}

#picture-list, .picture-item div.container {width: 700px;}

.picture-item div.container img {
    max-height: 540px;
    max-width: 690px;
    margin: 0 auto;
}

#picture-number {
    color: #fff;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
    width: 700px;
}

/* CSS for full screen button */
.picture-item div.container {position: relative;}
span.picture-button {cursor: pointer; position: absolute;}
img.picture-fullscreen {cursor: zoom-in;}

#picture-list .slick-prev, #picture-list .slick-next {
    cursor: pointer;
    display: block;
    height: 46px;
    position: absolute;
    top: 185px;
    width: 22px;
}

#picture-list .slick-prev {
    background: url("images/slideshow/slideshowPrevious.png") no-repeat;
    left: -30px;
}
#picture-list .slick-next {
    background: url("images/slideshow/slideshowNext.png") no-repeat;
    right: -30px;
}



/**************************************/
/* CSS for news + link (contact page) */
/**************************************/

#news-list {
    width: 920px;
    margin: 0 auto;
}

.news-item, .link-item {
    background: url("images/backgroundBlock.png") repeat;
    float: left;
    margin: 0 20px 20px 20px;
    padding: 0 0 25px 0;
    position: relative;
    width: 880px;
}

.news-item.small {width: 420px;}
.link-item {width: 380px;}

.news-item h2, .link-item h2 {
    background: url("images/backgroundBlock.png") repeat;
    color: #afafaf;
    font-size: 16px;
    padding: 3px 10px;
}

.news-picture, .link-picture {margin: 10px;}

.news-content, .link-content {
    color: #c8c8c8;
    font-size: 12px;
    line-height: 15px;
    padding: 10px;
    margin: 0 0 10px 0;
    text-align: justify;
}

a.more-link {
    background: url("images/seeMoreOff.jpg") no-repeat;
    bottom: 10px;
    display: block;
    height: 17px;
    position: absolute;
    right: 10px;
    width: 99px;
}

a.more-link:hover {background: url("images/seeMoreOn.jpg") no-repeat;}

.contact-link {
    background: url("images/contact/contact.png") no-repeat scroll 5px -3px;
    margin-left: 10px;
    padding: 5px 50px;
}

.contact-link a {
    color: #828282;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

.contact-website {
    background: url("images/contact/link.png") no-repeat scroll 5px 0;
    color: #e1e1e1;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    padding: 5px 50px;
}



/******************/
/* CSS for videos */
/******************/

#video ul {margin: 0; padding: 0;}

#video-menu {
    float: left;
    padding: 0 5px 0 15px;
    width: 180px;
}

li.video-menu-item {
    background: url("images/video/videoSelectionOff.png") no-repeat;
    color: #888;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    list-style: none;
    margin: 15px 5px;
    padding: 3px 0 3px 30px;
}

li.video-menu-item.activ {
    background: url("images/video/videoSelectionOn.png") no-repeat;
    color: #fff;
    font-style: italic;
}

#video-content {
    float: left;
    width: 760px;
}

#video-slideshow {
    margin: 0 auto;
    width: 698px;
}

.video-item {width: 698px;}

.video-player {
    margin: 0 auto;
    text-align: center;
}

.video-player iframe {border: 4px solid #969696;}

.video-description {
    background: url("images/backgroundBlock.png");
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    margin: 20px;
    padding: 20px;
}

